.login-form {
    width: 20rem;
    max-width: 80%;
    margin: 6rem auto;
    position: relative;

    background: rgba(255, 255, 255, 0.918);
    font: inherit;
    border: 1.3px solid rgba(204, 202, 202, 0.884);
    border-radius: 5px;
    padding: 0.75rem 1rem;
    
    box-shadow: 3px 3px 10px rgb(211, 211, 211);
    font-size: 20px;
}

.header {
    max-width: 100%;
    margin-top: 4rem;
    padding: 1px;
    text-align: center;
    background: #1c89d1;
    color: white;
    font-size: 30px;
  }

html {background-color: rgba(198, 212, 252, 0.452)}

.div-background {
    background: rgba(198, 212, 252, 0.452);
}

.register
{
    font-size: 15px;
    margin: auto;
}

.forgotPassword
{
    font-size: 15px;
    margin: auto;
    margin-top: -23px;
    float: right;
}

.form-control label,
.form-control input {
    width: 100%;
    display: block;
}

.form-control {
    margin-bottom: 1rem;
}

.form-control label {
    margin-bottom: 0.5rem;
}

.form-actions submit {
    background: rgb(210, 228, 48);
    font: inherit;
    border: 1px solid rgb(210, 228, 48);
    border-radius: 5px;
    padding: 0.25rem 1rem;
    margin-right: 1rem;
    box-shadow: 1px 1px 5px rgb(210, 228, 48);
    cursor: pointer;
}

.form-actions button:hover,
.form-actions button:active {
    background:  rgb(255, 255, 255);
    border-color:  rgb(66, 66, 66);
}